<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PCGPCDB4');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <title><%= content_for(:title) || "Ecolazik" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Favicon -->
    <%= favicon_link_tag 'small_logo.png', rel: 'icon', type: 'image/jpg', sizes: '32x32' %>
    <%= favicon_link_tag 'small_logo.png', rel: 'icon', type: 'image/jpg', sizes: '64x64' %>
    <link rel="apple-touch-icon" href="<%= asset_path 'small_logo.JPG' %>">

    <!-- Fonts & Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCGPCDB4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- ✅ Loader DANS le body -->
    <div data-controller="loader" data-loader-target="overlay" class="loader">
      <div class="loader-content">
        <h1 class="logo-loader">
          <span class="eco">ECOL</span><span class="accent">ā</span><span class="zik">ZIK</span>
        </h1>

        <div class="music-equalizer">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

    <!-- CONTENU -->
    <%= yield %>

    <%= render "shared/footer" %>

  </body>
</html>
