<!DOCTYPE html>
<html lang="fr">
  <head>
  <meta charset="utf-8">
  <title><%= content_for(:title) || "Ecolazik" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <!-- Favicon -->
  <%= favicon_link_tag 'small_logo.JPG', rel: 'icon', type: 'image/jpg', sizes: '32x32' %>
  <%= favicon_link_tag 'small_logo.JPG', rel: 'icon', type: 'image/jpg', sizes: '64x64' %>
  <link rel="apple-touch-icon" href="<%= asset_path 'small_logo.JPG' %>">

  <!-- Fonts & Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

  <body>
    <!-- POPUP ANNONCE -->
    <div id="popup" class="popup" data-controller="popup">
      <div class="popup-window responsive-popup" role="dialog" aria-modal="true" data-popup-target="window">
        <span class="close-popup" data-action="click->popup#close">&times;</span>
        <h2 class="popup-title">📢 Annonce importante</h2>
        <div class="popup-content">
          <p>👉 Comme vous avez pu le lire sur les réseaux sociaux,
          <strong>BOUTIKAZIK a malheureusement fermé ses portes définitivement.</strong></p>

          <p>C’est un coup dur pour notre école.</p>

          <p>🎶 Mais l’aventure continue ! Avec <strong>130 élèves</strong> et <strong>8 professeurs passionnés</strong>,
          nous sommes plus motivés que jamais et avons déjà trouvé un nouveau lieu pour vous accueillir dans les meilleures conditions.</p>

          <p>👉 D’ici là, les cours ont toujours lieu au 12, rue flatters et <strong>les inscriptions sont permanentes.</strong> </p>

          <p>Nous travaillons sans relâche pour préparer la suite. Mais rien ne sera possible sans votre soutien !</p>

          <strong>L’équipe Ecolazik</strong></p>
        </div>
      </div>
    </div>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
